@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #f5f5f5;
	color: #67727A;
	font-family: "Alegreya", sans-serif;
	margin: 0;
}

h2 {
	font-size: 250%; 
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #f5f5f5;
}

h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color: #f5f5f5;
}

p {
	font-family: "Alegreya Sans", sans-serif;
	color: #f5f5f5;
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}

header {
	position: fixed;
	background-color: #6991AC;
	width: 100%;
	height: 86px;
}

#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}

#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/RD.png) no-repeat center;
}
/*--- Start Navigation --*/

nav {
	float: right;
	padding: 25px 20px 0 0;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

ul {
	list-style-type: none;
}

nav ul li {
	font-family: "Alegreya", sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}

nav ul li a {
	color: #f5f5f5;
	text-decoration: none;
}

nav ul li a:hover {
	color: #c3d7df;
}

.current {
	color: #c3d7df;
}
/*--- End Navigation  --*/

.banner {
	width: 100%;
	background-color: #6991AC;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}

.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
}

#tekst1 {
	background-color: #f1aa90;
}

#tekst2 {
	background-color: #beb9ad;
}

#tekst3 {
	background-color: #aadcd2;
}

#tekst4 {
	background-color: #a2b2c1;
}

.one-fourth i {
	color: #f0f0f0;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #c3d7df;
}

article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#copywriting {
	background-color: #c3d7df;
}

aside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#copywriting2 {
	background-color: #a2b2c1;
}

#gry-terenowe2 {
	background-color: #beb9ad;
}



.inner-wrapper-2 {
	float: left;
	width: 100%;
	background-color: #c3d7df;
}

#grafika {
	float: left;
	width: 50%;
	background-color: #aadcd2;
}

#animacje-3d {
	float: left;
	width: 50%;
	background-color: #f1aa90;
}

.gallery-wrapper {
	float: left;
	width: 100%;
	background-color: #c3d7df;
}

.inner-wrapper-3 {
	float: left;
	width: 100%;
	background-color: #aadcd2;
}

.one-third {
	width: 33.33333333%;
	float: left;
	text-align: center;
}

#google {
	background-color: #a2b2c1;
}

#marketing {
	background-color: #beb9ad;
}

#customers {
	background-color: #aadcd2;
}

#smiley {
	background-color: #aadcd2;
	padding: 0 0 1%;
	clear: both;
}

/*--- Start Footer --*/

footer {
	background-color: #6991AC;
	width: 100%;
}

.social {
	list-style-type: none;
	text-align: center;
}

.social li {
	display: inline;
}

.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #c3d7df;
}

.social i:hover {
	color: #f5f5f5;
}

footer.second {
	border-top: 1px solid #aadcd2;
	background-color: #544B59;
	max-height: 50px; 
	margin: 0;
}

footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
}
/*-------------------------------MEDIA !!!---------*/

@media screen and (max-width: 760px) {
	h2 {
		font-size: 150%;
	}

	h3 {
		font-size: 125%;
	}

	p {
		font-size: 120%;
	}

	header {
		position: absolute;
	}

	#logo {
		margin: 15px 0 20px -25px;
		background: url(img/RD_mobile.png) no-repeat center;
	}

	#menu-icon {
		display: inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
		top: 60px;
		border: 2px solid #FFF;
		border-radius: 10px 0 2px 2px;
		width: 50%;

	}

	nav:hover ul {
		display: block;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
	}

	.banner {
		padding-top: 86px;
	}

	.one-fourth {
		float: left;
		width: 100%;
	}	

	.one-fourth i {
		font-size: 350%;
		padding: 4% 0 1% 0;
	}

	article {
		width: 100%;
	}

	aside {
		width: 100%;
	}

	#grafika {
		width: 100%;
	}

	#grafika2 {
		display: none;
	}

	#animacje-3d {
		width: 100%;
	}

	.one-third {
		width: 100%;
	}

	footer.first {
		text-align: center;
	}

	.social i {
		font-size: 180%;
	}

}




